/*
      SPACING SYSTEM (px)
      2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
      FONT SIZE SYSTEM (px)
      10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
      */
/* 
      MAIN COLOR: #26d07c
			SECONDARY COLOR: #43b772
      GREY COLOR: #343a40
      TEXT COLOR #465c72
      NAVBAR COLOR #f4f6f8
      BORDER COLOR #adb5bd
      HALF-MUTED COLOR #495057;
      */

.dietarypf-content {
}
.dietarypf-heading {
	text-align: center;
	width: 550px;
	margin: 0 auto;
	margin-top: 48px;
	margin-bottom: 24px;
}
/* .dietarypf-heading h2 {

} */
.conditional_paragraph {
	font-size: 16px;
	color: #495057e3;
}

.diatarypf-box {
	border: 1px solid #adb5bd;
	background-color: #fff;
	/* background-color: #f1f3f5; */
	/* background-color: #f9f7f7; */
	border-radius: 8px;
	margin-bottom: 10px;
	position: relative;
}
.item {
	padding: 100px 80px;
	padding-right: 32px;
	padding-bottom: 0px;
}
.item-heading-tags {
	list-style: none;
}

.item-heading {
	display: flex;
	justify-content: space-between;
	padding-bottom: 64px;

	border-bottom: 1px solid #adb5bd;
}
.item-number {
	width: 32px;
	height: 32px;
	background-color: black;
	color: white;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 0px;
}

.item-heading-content p:last-child {
	font-size: 14px;
	margin-top: 8px;
	color: #495057;
	/* border-bottom: 1px solid gray; */
}

.item-heading-tags {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 16px;
}

.item-body {
	padding-top: 32px;
	/* display: grid;
	grid-template-columns: 270px auto auto;
	grid-template-rows: auto auto; */
}
.first-row {
	justify-content: space-between;
}
.item-body-heading {
	width: 550px;
}
.body_brief {
	margin-top: 12px;
	font-size: 14px;

	color: #495057;
}

.fodmap-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: auto;
	gap: 16px;
}
.fodmap {
	/* grid-column: 2/2; */
	padding: 12px 16px;
	background-color: #43b772;
	border-radius: 15px;
	display: flex;
	gap: 16px;
	align-items: center;
	/* width: 30%; */
	justify-self: flex-start;
	align-self: flex-start;
	/* width: 21%; */
}
.fodmap_title {
	color: white;
	font-weight: 500;
	font-size: 14px;
}

.real {
	/* grid-column: 1/3; */
	width: 200%;
}
.check-icon-container {
	width: 24px;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 4px;
	font-weight: bold;
	border-radius: 3px;
	border: none;
}
.check-icon {
	width: 18px;
	stroke: #000;
	font-weight: bold;
	stroke-width: 2px;
}

.fodmap-second-row {
	padding-bottom: 96px;
	border-bottom: 1px solid #adb5bd;
}

.infotext {
	margin-top: 16px;
	font-size: 12px;
	color: #adb5bd;
	color: #495057;
	/* grid-column: 1/2;
	grid-row: 2; */
	display: flex;
	/* align-items: flex-start; */
	gap: 4px;
	align-items: flex-start;
}
.infotext span {
	color: #26d07c;
}
.info-icon {
	width: 24px;
	stroke: #26d07c;
	/* height: 14px; */
}

.d-none {
	display: none;
}

.fodmap-items-grid {
	/* display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	gap: 100px; */
	display: flex;
	justify-content: space-between;
	/* align-items: center; */
	gap: 165px;
}
.fodmap-items-one {
	justify-self: flex-start;
}
.fodmap-items-two {
	/* background-color: red; */
	margin-right: 24px;
}
/* //checkbox buttons css */

/* .first-item {
	grid-column: 1/3;
} */

/* NEXT BUTTON CSS HERE */

.next_button_container {
	padding: 24px 80px;
	/* text-align: right; */
	padding-right: 32px;
	background-color: #f2f3f9;
	box-sizing: border-box;
	margin-bottom: 1px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	position: relative;
	display: flex;
	/* display: flex; */
	/* justify-content: space-between; */
	/* align-items: flex-end; */
	/* flex-direction: column; */
	justify-content: flex-end;
}

/* NEXT AND PREVIOUS BUTTONS */
.next_btn {
	background-color: #43b772;

	/* float: right; */
	padding: 12px 24px;
	border-radius: 5px;
	border: none;
	color: white;
	display: flex;
	/* justify-content: space-between; */
	/* justify-self: flex-end; */
	/* float: right; */
	font-weight: bold;
	align-items: center;
	gap: 16px;
	cursor: pointer;
}
.next_btn:hover {
	background-color: #26d07c;
}
.next_button_container button.step_two {
	display: flex;
	gap: 0px;
	justify-content: center;
	align-items: center;
}

.icon_forward {
	display: block;

	width: 18px;
}
/* span {
	display: block;
} */

/* PREVIOUS BUTTON */

.back_btn {
	display: flex;
	gap: 12px;
	align-items: center;
	color: #43b772;
	padding: 10px 15px;
	background-color: #fff;
	border-radius: 5px;
	border: 1px solid #adb5bd;
	position: absolute;
	left: 15px;
	top: 20px;
	font-weight: bold;
	cursor: pointer;
}
.icon_backward {
	display: block;
	stroke: #43b772;
	width: 18px;
}
