* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*
      SPACING SYSTEM (px)
      2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
      FONT SIZE SYSTEM (px)
      10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
      */
/* 
      MAIN COLOR: #26d07c
      GREY COLOR: #343a40
      TEXT COLOR #465c72
      NAVBAR COLOR #f4f6f8
      */

/* GENERAL STYLES */

.btn {
	border-radius: 5px;
	border: none;
	cursor: pointer;
}
.btn-primary {
	background-color: #26d07c;
	color: white;
}
.btn-primary:hover {
	background-color: rgba(38, 208, 124, 0.8);
}

.number {
	width: 32px;
	height: 32px;
	background-color: black;
	color: white;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 0;
}

/* UTILITY CLASSES */
/* .d-none {
	display: none;
} */

.d-flex {
	display: flex;
}
.j-center {
	justify-content: center;
}
.j-sb {
	justify-content: space-between;
}
.ali-center {
	align-items: center;
}
.gap-16 {
	gap: 16px;
}
.gap-32 {
	gap: 16px;
}
.gap-32 {
	gap: 16px;
}
.gap-32 {
	gap: 16px;
}

.w-128 {
	width: 128px;
}
.w-158 {
	width: 158px;
}
.w-264 {
	width: 264px;
}
.w-300 {
	width: 300px;
}
.w-350 {
	width: 350px;
}
.w-520 {
	width: 520px;
}
.w-700 {
	width: 750px;
}

/* HEIGHT */
.h-0 {
	height: 0px;
}
.h-2 {
	margin-top: 0px;
	height: 0px;
}
/* MARGIN AND PADDING */

.mb_10 {
	margin-bottom: 10px;
}
.ml_5 {
	margin-left: 5px;
}

/* CSS imported from BOOTSTRAP */

.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}

@media screen and (min-width: 1400px) {
	.container {
		width: 1370px;
	}
}
@media screen and (min-width: 1600px) {
	.container {
		width: 1570px;
	}
}
@media screen and (min-width: 1900px) {
	.container {
		width: 1870px;
	}
}
@media screen and (min-width: 3840px) {
	.container {
		width: 3810px;
	}
}
.container-fluid {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

body {
	margin: 0;
	/* font-family: 'Inter', sans-serif; */
	font-family: 'Poppins', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #f4f6f8;
	overflow: auto;
	overflow-x: hidden !important;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

h1 {
	color: #000;
}

.d-none {
	display: none;
}
.light {
	color: white;
}
