* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*
      SPACING SYSTEM (px)
      2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
      FONT SIZE SYSTEM (px)
      10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
      */
/* 
      MAIN COLOR: #26d07c
      GREY COLOR: #343a40
      TEXT COLOR #465c72
      NAVBAR COLOR #f4f6f8
      */

/* GENERAL STYLES */

.btn {
	border-radius: 5px;
	border: none;
	cursor: pointer;
}
.btn-primary {
	background-color: #26d07c;
	color: white;
}
.btn-primary:hover {
	background-color: rgba(38, 208, 124, 0.8);
}
.d-flex {
	display: flex;
}
.j-center {
	justify-content: center;
}
.ali-center {
	align-items: center;
}

/* CSS imported from BOOTSTRAP */

.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}
.container-fluid {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

body {
	margin: 0;
	/* font-family: 'Inter', sans-serif; */
	font-family: 'Poppins', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

h1 {
	color: #000;
}
